# Домашнее задание к лекции "Библиотека Pandas"

In [26]:
import pandas as pd

## Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [27]:
movies = pd.read_csv('ml-latest-small/movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [28]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [29]:
joined = ratings.merge(movies, on='movieId')
joined.head()

   userId  movieId  rating   timestamp                   title genres
0       1       31     2.5  1260759144  Dangerous Minds (1995)  Drama
1       7       31     3.0   851868750  Dangerous Minds (1995)  Drama
2      31       31     4.0  1273541953  Dangerous Minds (1995)  Drama
3      32       31     4.0   834828440  Dangerous Minds (1995)  Drama
4      36       31     3.0   847057202  Dangerous Minds (1995)  Drama

In [30]:
joined = joined.query('rating == 5')
joined.head()

,userId,movieId,rating,timestamp,title,genres
30,487,31,5.0,832836558,Dangerous Minds (1995),Drama
43,19,1029,5.0,855192033,Dumbo (1941),Animation|Children|Drama|Musical
48,102,1029,5.0,958250063,Dumbo (1941),Animation|Children|Drama|Musical
52,188,1029,5.0,841064992,Dumbo (1941),Animation|Children|Drama|Musical
60,387,1029,5.0,974683041,Dumbo (1941),Animation|Children|Drama|Musical

In [31]:
joined['title'].value_counts().head(1)

Shawshank Redemption, The (1994)    170
Name: title, dtype: int64

## Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [32]:
consumption = pd.read_csv('power.csv')
consumption.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [33]:
filtered_1 = consumption[ (consumption['country']=='Latvia') | 
                                 (consumption['country']=='Estonia') | 
                                 (consumption['country']=='Lithuania') ]

In [34]:
filtered_2 = filtered_1[ (filtered_1['category']==4) | 
                        (filtered_1['category']==12) | 
                        (filtered_1['category']==21) ]

In [35]:
filtered_3 = filtered_2[ (filtered_2['year']>=2005) & (filtered_2['year']<=2010) ]

In [36]:
filtered_4 = filtered_3[ filtered_3['quantity']>=0 ]

In [37]:
baltic_state = sum(filtered_3.quantity)
filtered_1 = filtered_2 = filtered_3 = filtered_4 = None
print(baltic_state)

240481.0

## Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [38]:
df = pd.read_html('https://fortrader.org/quotes', encoding='utf-8')[4]

In [39]:
df.filter(items = ['Type', 'Last']).head()

                                               Type     Last
0                        EURUSD Курс евро к доллару  1.09472
1        AUDCAD Australian Dollar / Canadian Dollar  0.88811
2  AUDUSD Курс австралийского доллара к доллару сша  0.66769
3                       GBPUSD Курс фунта к доллару  1.28830
4                         EURCHF Euro / Swiss Franc  1.06985